<<<<<<< HEAD
<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %> </br>
    <strong>Author:</strong>
    <%= book.author %> </br>
    <strong>Price:</strong>
    <%= book.price %> </br>
    <strong>Published Date:</strong>
    <%= book.published_date %>
  </p>

</div>
=======
<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %> </br>
    <strong>Author:</strong>
    <%= book.author %> </br>
    <strong>Price:</strong>
    <%= book.price %> </br>
    <strong>Published Date:</strong>
    <%= book.published_date %>
  </p>

</div>
>>>>>>> 1bf41ff7308f7adfeacd0d7a8b1e79255ac7d02d
